IngateTask.Client.WCF/Service References/CrawlerService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IngateTask.PortableLibrary.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IngateTask.PortableLibrary.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfInputFields">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InputFields" type="tns:InputFields" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInputFields" nillable="true" type="tns:ArrayOfInputFields" />
  <xs:complexType name="InputFields">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAgent" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputFields" nillable="true" type="tns:InputFields" />
</xs:schema>